dist: xenial

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
      - deadsnakes
    packages:
      - wget
      - python3.7-dev

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/3.0.0/bazel-3.0.0-installer-linux-x86_64.sh
  - chmod +x bazel-3.0.0-installer-linux-x86_64.sh
  - ./bazel-3.0.0-installer-linux-x86_64.sh --user
  - export PATH="$PATH:$HOME/bin"
  - wget https://bootstrap.pypa.io/get-pip.py
  - python3.7 get-pip.py
  - python3.7 -m pip install -U pip
  - python3.7 -m pip install --upgrade setuptools
  - python3.7 -m pip install numpy
  - dest=$(python3.7 -c "import numpy; print(numpy.get_include()+'/numpy')")
  - sudo ln -sfn $dest /usr/include/numpy

script:
  - bazel test //fast_ta/src/... --noshow_loading_progress --noshow_progress --conlyopt="-std=c99" --collect_code_coverage
  - travis_fold start "gcov, No SIMD"
  - cat bazel-out/k8-fastbuild/testlogs/fast_ta/src/momentum_backend_tests/coverage.dat
  - travis_fold end "gcov, No SIMD"
  - sudo rm -r ~/.cache/bazel
  - bazel test //fast_ta/src/... --noshow_loading_progress --noshow_progress --conlyopt="-std=c99" --define=SSE2=1 --copt="-msse2" --collect_code_coverage
  - travis_fold start "gcov, SSE2"
  - cat bazel-out/k8-fastbuild/testlogs/fast_ta/src/momentum_backend_tests/coverage.dat
  - travis_fold end "gcov, SSE2"
  - sudo rm -r ~/.cache/bazel
  - bazel test //fast_ta/src/... --noshow_loading_progress --noshow_progress --conlyopt="-std=c99" --define=AVX=1 --copt="-mavx" --collect_code_coverage
  - travis_fold start "gcov, AVX"
  - cat bazel-out/k8-fastbuild/testlogs/fast_ta/src/momentum_backend_tests/coverage.dat
  - travis_fold end "gcov, AVX"

after_success:
  - bash <(curl --connect-timeout 10 --max-time 10 --retry 5 --retry-delay 0 --retry-max-time 120 -s https://codecov.io/bash)
