dist: xenial

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
      - deadsnakes
    packages:
      - wget
      - python3.7-dev

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/3.0.0/bazel-3.0.0-installer-linux-x86_64.sh
  - chmod +x bazel-3.0.0-installer-linux-x86_64.sh
  - ./bazel-3.0.0-installer-linux-x86_64.sh --user
  - export PATH="$PATH:$HOME/bin"
  - wget https://bootstrap.pypa.io/get-pip.py
  - python3.7 get-pip.py
  - python3.7 -m pip install -U pip
  - python3.7 -m pip install --upgrade setuptools
  - python3.7 -m pip install numpy
  - dest=$(python3.7 -c "import numpy; print(numpy.get_include())")
  - ln -sfn $dest /usr/include/numpy

script:
  - bazel test //fast_ta/src/... --noshow_loading_progress --noshow_progress --conlyopt="-std=c99"
