dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/3.0.0/bazel-3.0.0-installer-linux-x86_64.sh
  - chmod +x bazel-3.0.0-installer-linux-x86_64.sh
  - ./bazel-3.0.0-installer-linux-x86_64.sh --user
  - export PATH="$PATH:$HOME/bin"

script:
  - bazel test //fast_ta/src/...
